<main class="add-trip">
  <nav>
      <h1><%= image_tag "logo.png" %> <%= link_to "Coast Car", root_path %></h1>
      <ul>
       <% if current_user %>
        <li class="username">
            Welcome, <%= current_user.name %>!
        </li>
        <% end %>
        <li class="offerbtn"><%= link_to "Offer a ride", current_user ?
        offer_a_ride_path :
        register_path(user_type: :driver) %></li>
        <li><%= link_to "How it works", "#howdoesitwork" %></li>
        <% if current_user %>
        <li>
            <%= link_to "Sign Out", signout_path %>
        </li>
        <% end %>
      </ul>
    </nav>
  <section class="create-driver">
    <div class="modal">
      <h1>Where are ya headed?</h1>

<%= form_for @ride, url: submit_trip_path, method: :post do |f| %>
  <%= f.label :departure_address %>
  <%= f.text_field :departure_address, :placeholder => "123 Main Street, Los Angeles, CA 90210", required: true %>
  <br>
  <%= f.label :destination_address %>
  <%= f.text_field :destination_address, :placeholder => "456 Seventh Street, Las Vegas, NV 89101", required: true %>
  <br>
  <%= f.label :departure_date %>
  <%= f.date_select :departure_date, order: [:month, :day, :year], required: true %>
  <br>
  <%= f.label :departure_time %>
  <%= f.time_select :departure_time, {minute_step: 15, ampm: true}, require: true %>
  <br>
  <%= f.label :car_make %>
  <%= f.text_field :car_make, :placeholder => "Tesla", required: true %>
  <br>
  <%= f.label :car_model %>
  <%= f.text_field :car_model, :placeholder => "Model S", required: true %>
  <br>
  <%= f.label :car_year %>
  <%= f.text_field :car_year, :placeholder => "2016", required: true %>
  <br>
  <%= f.label :car_comfort_level %>
  <%= f.select :car_comfort_level,
      options_for_select(
      Ride.car_comfort_level_label,
      @ride.car_comfort_level),
      include_blank: true, :placeholder => "2016", required: true %>
  <br>
  <%= f.label :car_condition %>
  <%= f.select :car_condition,
      options_for_select(
      Ride.car_condition_label,
      @ride.car_condition),
      include_blank: true %>
  <br>
  <%= f.label "Number of seats available" %>
  <%= f.number_field :seats_available, in: 1..8 %>
  <br>
  <%= f.label :luggage_restrictions %>
  <%= f.select :luggage_restriction,
      options_for_select(
      Ride.luggage_restriction_label,
      @ride.luggage_restriction),
      include_blank: true %>
  <br>
  <%= f.label "Price per seat" %>
  <%= f.number_field :price, class: "price-dollar-sign" %>
  <br>
  <%= f.label "Trip Details" %>
  <%= f.text_area :comment, :placeholder => "Additional information regarding your trip" %>
  <br>
  <%= f.submit 'Submit' %>
<% end %>

    </div>
  </section>
</main>
