<main class="register-next">
  <nav>
      <h1><%= image_tag "logo.png" %> <%= link_to "Coast Car", root_path %></h1>
      <ul>
       <% if current_user %>
        <li class="username">
            Welcome, <%= current_user.name %>!
        </li>
        <% end %>
        <li class="offerbtn"><%= link_to "Offer a ride", current_user ?
        offer_a_ride_path :
        register_path(user_type: :driver) %></li>
        <li><%= link_to "How it works", "#howdoesitwork" %></li>
        <% if current_user %>
        <li>
            <%= link_to "Sign Out", signout_path %>
        </li>
        <% end %>
      </ul>
    </nav>
  <section class="create-driver">
    <div class="modal">
      <h1>Create Your Account</h1>

<%= form_for @user, url: new_driver_path, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :birthdate %>
  <%= f.date_field :birthdate %>
  <br>
  <%= f.label :gender %>
  <%= f.select :gender,
      options_for_select(
      User.gender_label,
      @user.gender),
      include_blank: true %>
  <br>
  <%= f.label :drivers_license_state %>
  <%= f.text_field :drivers_license_state %>
  <br>
  <%= f.label :drivers_insurance_company %>
  <%= f.text_field :drivers_insurance_company %>
  <br>
  <%= f.label :allow_music %>
  <%= f.check_box :rider_restriction_allow_music %>
  <br>
  <%= f.label :non_smoking %>
  <%= f.check_box :rider_restriction_non_smoking %>
  <br>
  <%= f.label :allow_dogs %>
  <%= f.check_box :rider_restriction_allow_dogs %>
  <br>
  <%= f.label :allow_cats %>
  <%= f.check_box :rider_restriction_allow_cats %>
  <br>
  <%= f.label :allow_children %>
  <%= f.check_box :rider_restriction_allow_children %>
  <br>
  <%= f.label :allow_food %>
  <%= f.check_box :rider_restriction_allow_food %>
  <br>
  <%= f.submit 'Complete your profile' %>
<% end %>


    </div>
  </section>
</main>