<h1>Create Your Driver</h1>

<%= form_for @user, url: new_driver_path, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :birthdate %>
  <%= f.date_field :birthdate %>

  <%= f.label :gender %>
  <%= f.select :gender,
      options_for_select(
      User.gender_label,
      @user.gender),
      include_blank: true %>

  <%= f.label :drivers_license_state %>
  <%= f.text_field :drivers_license_state %>

  <%= f.label :drivers_insurance_company %>
  <%= f.text_field :drivers_insurance_company %>

  <%= f.label :allow_music %>
  <%= f.check_box :rider_restriction_allow_music %>

  <%= f.label :non_smoking %>
  <%= f.check_box :rider_restriction_non_smoking %>

  <%= f.label :allow_dogs %>
  <%= f.check_box :rider_restriction_allow_dogs %>

  <%= f.label :allow_cats %>
  <%= f.check_box :rider_restriction_allow_cats %>

  <%= f.label :allow_children %>
  <%= f.check_box :rider_restriction_allow_children %>

  <%= f.label :allow_food %>
  <%= f.check_box :rider_restriction_allow_food %>

  <%= f.submit %>
<% end %>
