<main>
  <section class="intro">
    <nav>
      <h1><%= image_tag "logo.png" %> Coast Car</h1>
      <ul>
        <li><a href="">Offer a ride</a></li>
        <li><%= link_to "How it works", "#howdoesitwork" %></li>
      </ul>
    </nav>
    <section class="where">
      <h1>Road trips made simple.</h1>
    </section>
    <section class="destinations">
      <div class="cards">
        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo2.jpg" %>
          </div>
          <span class="price"><small>$</small>45</span>
          <div class="card-header">
            <small>Destination:</small>
            Los Angeles, CA to Manchester, TN
          </div>
          <div class="card-copy">
            <p><a href="">#bonnaroo</a> <a href="">#festival</a> I'm heading to Bonnaroo! It's going to be a ton of fun and I can't wait to go or something</p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo.jpg" %>
          </div>
          <span class="price"><small>$</small>45</span>
          <div class="card-header">
            <small>Destination:</small>
            Los Angeles, CA to Las Vegas, NV
          </div>
          <div class="card-copy">
            <p><a href="">#bonnaroo</a> <a href="">#festival</a> I'm heading to Bonnaroo! It's going to be a ton of fun and I can't wait to go or something</p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo3.jpg" %>
          </div>
          <span class="price"><small>$</small>45</span>
          <div class="card-header">
            <small>Destination:</small>
            Los Angeles, CA to San Francisco, CA
          </div>
          <div class="card-copy">
            <p><a href="">#bonnaroo</a> <a href="">#festival</a> I'm heading to Bonnaroo! It's going to be a ton of fun and I can't wait to go or something</p>
          </div>
        </div>
        
      </div>
    </section>
  </section>
  <section id="howdoesitwork" class="howitworks">
    <article>
      <h1>How does it work?</h1>
      <p>You get in your car and drive.</p>
    </article>
  </section>
</main>