<main class="home">
  <section class="intro">
    <nav>
      <h1><%= image_tag "logo.png" %> <%= link_to "Coast Car", root_path %></h1>
      <ul>
       <% if current_user %>
        <li class="username">
            Welcome, <%= current_user.name %>!
        </li>
        <% end %>
        <li class="offerbtn"><%= link_to "Offer a ride", current_user ?
        offer_a_ride_path :
        register_path(user_type: :driver) %></li>
        <li><%= link_to "How it works", "#howdoesitwork" %></li>
        <% if current_user %>
        <li>
            <%= link_to "Sign Out", signout_path %>
        </li>
        <% end %>
      </ul>
    </nav>
    <section class="where">
      <h1>Road trips made simple.</h1>
    </section>
    <section class="destinations">
      <div class="cards">
       
        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo2.jpg" %>
          </div>
          <span class="price"><small>$</small>45</span>
          <div class="card-header">
            <small>Destination:</small>
            Your City, CA to Destination, NV
          </div>
          <div class="card-copy">
            <p><a href="">#tag</a> <a href="">#your</a> <a href="">#destination</a> This is a quick excerpt about where you're headed. This information is a nice introduction to the trip you are taking and the destination you are headed to in your own words.</p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo.jpg" %>
          </div>
          <span class="price"><small>$</small>55</span>
          <div class="card-header">
            <small>Destination:</small>
            Your City, CA to Destination, AZ
          </div>
          <div class="card-copy">
            <p><a href="">#tag</a> <a href="">#your</a> <a href="">#destination</a> This is a quick excerpt about where you're headed. This information is a nice introduction to the trip you are taking and the destination you are headed to in your own words.</p>
          </div>
        </div>
<!--
        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo3.jpg" %>
          </div>
          <span class="price"><small>$</small>45</span>
          <div class="card-header">
            <small>Destination:</small>
            Los Angeles, CA to San Francisco, CA
          </div>
          <div class="card-copy">
            <p><a href="">#bonnaroo</a> <a href="">#festival</a> I'm heading to Bonnaroo! It's going to be a ton of fun and I can't wait to go or something</p>
          </div>
        </div>
        
      </div>
      <div class="cards">
       
        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo2.jpg" %>
          </div>
          <span class="price"><small>$</small>45</span>
          <div class="card-header">
            <small>Destination:</small>
            Los Angeles, CA to Manchester, TN
          </div>
          <div class="card-copy">
            <p><a href="">#bonnaroo</a> <a href="">#festival</a> I'm heading to Bonnaroo! It's going to be a ton of fun and I can't wait to go or something</p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo.jpg" %>
          </div>
          <span class="price"><small>$</small>45</span>
          <div class="card-header">
            <small>Destination:</small>
            Los Angeles, CA to Las Vegas, NV
          </div>
          <div class="card-copy">
            <p><a href="">#bonnaroo</a> <a href="">#festival</a> I'm heading to Bonnaroo! It's going to be a ton of fun and I can't wait to go or something</p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo3.jpg" %>
          </div>
          <span class="price"><small>$</small>45</span>
          <div class="card-header">
            <small>Destination:</small>
            Los Angeles, CA to San Francisco, CA
          </div>
          <div class="card-copy">
            <p><a href="">#bonnaroo</a> <a href="">#festival</a> I'm heading to Bonnaroo! It's going to be a ton of fun and I can't wait to go or something</p>
          </div>
        </div>
        
      </div>
      <div class="cards">
       
        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo2.jpg" %>
          </div>
          <span class="price"><small>$</small>45</span>
          <div class="card-header">
            <small>Destination:</small>
            Los Angeles, CA to Manchester, TN
          </div>
          <div class="card-copy">
            <p><%= link_to "#bonnaroo", rides_bonnaroo_path %> <a href="">#festival</a> I'm heading to Bonnaroo! It's going to be a ton of fun and I can't wait to go or something</p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo.jpg" %>
          </div>
          <span class="price"><small>$</small>45</span>
          <div class="card-header">
            <small>Destination:</small>
            Los Angeles, CA to Las Vegas, NV
          </div>
          <div class="card-copy">
            <p><a href="">#bonnaroo</a> <a href="">#festival</a> I'm heading to Bonnaroo! It's going to be a ton of fun and I can't wait to go or something</p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo3.jpg" %>
          </div>
          <span class="price"><small>$</small>45</span>
          <div class="card-header">
            <small>Destination:</small>
            Los Angeles, CA to San Francisco, CA
          </div>
          <div class="card-copy">
            <p><a href="">#bonnaroo</a> <a href="">#festival</a> I'm heading to Bonnaroo! It's going to be a ton of fun and I can't wait to go or something</p>
          </div>
        </div>
        -->
      </div>
    </section>
  </section>
  <section id="howdoesitwork" class="howitworks">
    <article>
    
        <h1>Who are we?</h1>
        <p>Coast Car makes it very easy for people to quickly form a road trip group to a common    destination. <br><br>
• Passengers without a car or without a valid license can find a ride to a far off destination.<br>
• Drivers making the trek can find companions and earn extra money.<br>
        • Provides a safe, green, and cheap way to travel and see the country.
        </p>
    
      <h1>Do I need car insurance?</h1>
        <p>Yes, you need current and valid car insurance.</p>
        <h1>Does it matter what year my car is?</h1>
        <p>No, as long as the car is in reliable working condition and will provide a clean and comfortable experience for drivers, your car should be just fine.</p>
        <h1>What are the required car conditions?</h1>
        <p>Yes, your car must be in working condition and it must be clean and free of hazardous objects to provide passengers with a safe and comfortable ride.</p>
        <h1>If I drive, am I an employee of Coast Car?</h1>
        <p>No, you are not an employee of Coast Car, you are an independent contractor.</p>
        <h1>How do I get paid?</h1>
        <p>Transactions occur between driver and passenger through our in-app transaction service. As a driver, you will be paid after your completed trip.</p>
        <h1>Is this service safe?</h1>
        <p>Yes! Your safety is our goal. Our app will has a number of safety features to put your mind at ease.</p>
        <h1>Are the drivers insured?</h1>
        <p>Yes, it is mandatory for all of our drivers to have current and validated insurance.</p>
        <h1>How do I pay the driver?</h1>
        <p>You pay through our in-app transaction service. You must pay with either credit card or paypal. Your payment info will be safely encrypted and never shared.</p>
        <h1>What if I have allergies?</h1>
        <p>A pre-ride survey will ensure that you are not placed in a ride that has been exposed to things that cause your allergies.</p>
    </article>
  </section>
</main>
